.post{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -9px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -9px rgba(0,0,0,0.68);
    margin: 30px 0px;

}
.postwrapper{
    padding: 10px;
}
.posttop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.posttopleft{
    display: flex;
    align-items: center;
}
.posttopimage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.postusername{
    font-size: 15px;
    margin: 0px 10px;
    font-weight: 500;
}
.posttime{
    font-size: 10px ;
    margin-right: 25px;
}
.postcenter{
    margin: 20px 0;
}
.postcenterimage{
    margin-top: 20px;
    

}
.postcentertext{
    margin-top: 5px;
    max-height: 500px;
    object-fit: contain;
}
.postbottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.posticon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}
.likecounter{
    font-size: 12px;
}
.postbottomright{
    display: flex;
    align-items: center;
}
.postcommenttext{
    font-size: 12px;
    cursor: pointer;
    border-bottom: 1px dashed;
}